@charset "utf-8";
/* CSS Document */
@import "font.css";
.rightTop{
	width: 90%;;height: 100%; margin:0px auto;padding-top: 1.1%;
}
.status{
	width: 100%;height: 9%;align-items: center;display: flex;
}
.state{
	color: #2e4e7e;font-size:90%;font-family: DengXian-Regular;font-weight: bold;letter-spacing: 1px;opacity: 0.5;padding-left: 0.5%;padding-right: 0.5%;
}
.ing{
	color: #2e4e7e;font-size: 90%;font-family: DengXian-Regular;font-weight: bold;padding-right: 0.5%;padding-left: 0.5%;
}
.rightcenter{

	width: 98%;height: 58%;display: flex;justify-content: space-between;min-width: 1026.9px;min-height: 396.9px;

}
.first{
	height: 100%;width: 19%;background: #fff;box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.14);border-radius: 10px;min-height: 396.9px;min-width: 241.5px;
}
.pic{
	width: 8%;height: 14%;box-shadow: 0px 0px 2px 0px rgba(6, 0, 1, 0.15);background-color: #ef5576;border-top-left-radius: 8px;border-bottom-right-radius: 8px;text-align: center;float: left;padding-top: 4%;
}
.picDone{
	width: 8%;height: 14%;box-shadow: 0px 0px 2px 0px rgba(6, 0, 1, 0.15);background-color: #5f99eb;border-top-left-radius: 8px;border-bottom-right-radius: 8px;text-align: center;float: left;padding-top: 4%;
}
.auditing{
   font-size:80%;font-family: DengXian-Regular;color: #fff;line-height: 100%;
}
.demotext{
	width: 83%;height: 88.5%;padding-left: 23%;
}
.demotitle{
	font-size: 120%;font-family: DengXian-Regular;color: #2e4e7e;text-align: center;padding-top: 17%;font-weight: bold;
}
.smalltitle{
	font-size: 80%;font-family: DengXian-Regular;color: #ccc;text-align: center;padding-top: 10%;
}
.detail{
	font-size: 75%;font-family: DengXian-Regular;color: #2e4e7e;padding-top: 60%;padding-left: 13%;line-height: 170%;font-weight: bold;
}
.exit{
	font-family: DengXian-Regular;font-size: 18px;color: #ef5576;height: 11.5%;width: 100%; align-items:center;display: flex;justify-content: center;
}
.statusSpan{
	cursor: pointer;
}

	/* 
	==============================================
	------------------点击报名---------------------
	==============================================
												*/

.join{
	overflow: hidden;position: relative;cursor: pointer;font-family: DengXian-Regular;font-size: 95%;color: #4e8ee9;height: 11.5%;width: 100%; align-items:center;display: flex;justify-content: center;transition: all 0.3s;}
/* .joining{
	font-family: DengXian-Regular;font-size: 95%;color: #fff;height: 11.5%;width: 100%; align-items:center;display: flex;justify-content: center;background-color: #4e8ee9;box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.14);border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
} */
.join:hover{
	color: #fff;background-color: #4e8ee9;box-shadow: 0px 7px 10px 1px rgba(0, 0, 0, 0.14);border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;transition: color 0.3s,background-color 0.3s;
}
.join::after{
	content:"";
	position: absolute;
	width: 100%;height: 100%;top: 0;left: 0;
	background-image: radial-gradient(circle,#f8f8f8,transparent 20%);
	transform: scale(15,50);
	opacity: 0;
	transition: transform 0.9s,opacity 1.2s;
}
.join:active::after{
	transform: scale(0, 0);
    opacity: 0.8;
    transition: 0s;
}

	/* 
	==============================================
	------------------模态框---------------------
	==============================================
												*/

.appMContent{
	background-color: #e9ecf3;
}
.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    margin: auto; 
    -webkit-transform: translate(-50%, -50%) !important;
    -moz-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -o-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
}
