@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	font-family: FZLTXHJW--GB1-0
}
.login-top{
	width: 100%;
}
.problem{
	position: absolute;
	z-index:3;
	color: white;
	font-size: 14px;
	right: 45px;
	top: 30px;
}
.login-banner{
	z-index: 1
}
.imgContainer{
	height: 800px;
}
.login{
	position: absolute;
	width: 396px;
	height: 435px;
	background-color: #ffffff;
	box-shadow: 8px 5px 11px 1px rgba(6, 0, 1, 0.32);
	border-radius: 10px;
	z-index: 2;
	right: 305px;
	top:180px;
}
.pic{
	width: 19px;
	height: 71px;
	box-shadow: 0px 0px 2px 0px rgba(6, 0, 1, 0.15);
	background-color: #3582f8;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.login-text{
	text-align: center;
	font-size: 20px;
	letter-spacing: 1px;
	color: #000000;
}
@font-face{
	font-family: FZLTXHJW--GB1-0;
	src: url(../font/fzltxhjw.ttf)
}
.input{
	margin-left: 25px;
	margin-top: 50px;
}
.input-user{
	width: 348px;
	height: 55px;
	border-radius: 5px;
	border: solid 2px #d6d5d5;
	text-indent: 17px;
}
.input-psd{
	width: 348px;
	height: 55px;
	border-radius: 5px;
	border: solid 2px #d6d5d5;
	text-indent: 17px;
	border-top: none;
}
.login-btn{
	width: 313px;
	height: 45px;
	background-color: #3582f8;
	box-shadow: 2px 1px 7px 0px rgba(6, 0, 1, 0.15);
	border-radius: 3px;
	margin-top: 35px;
	margin-left: 41px;
	color: white;
	transition: opacity 1s;
	border: none;
}
.login-btn:hover{
	opacity: 0.7;
}
.login-btn:active {
  	transform: translateY(1px);
}
.text{
	position: absolute;
	z-index: 2;
	margin-left: 153px;
	margin-top: 579px;
}
.logo{
	float: left;
	width: 70px;
}
.title{
	float: left;
	font-size: 26px;
	color: #2a7edb;
	font-family: DengXian-Regular;
	letter-spacing: 2px;
	margin-left: 5px;
}
@font-face{
	font-family: DengXian-Regular;
	src: url(../font/Deng.ttf);
}
.footer{
	height: 140px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*自定义单选按钮*/
.rdo {
    width: 20px;;
    height: 0px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
}
.rdo:before,.rdo:after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 50%;
    transition: .3s ease;
}
.rdo:before {
    top: 0px;
    left: 0px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 1px solid #d6d5d5;
}
.rdo:checked:after {
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color:#3582f8; 
}
.rdo:checked:before {
    border-color:#8bb7fb; 
}
.input-chose input{
	vertical-align: text-top;
}
.input-chose{
	margin-top: 24px;
	font-size: 14px;
}