@charset "utf-8";
/* CSS Document */
.rightTop{
	width: 91%;;height: 100%; margin:0px auto;padding-top: 2.65%;
}
.topbar{
	width: 100%;height: 7.2%;display: flex;box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.07);
}
.barleft{
	width: 50%;height: 100%;text-align: center;;align-items: center;display: flex;justify-content: center;border-bottom: 7px solid #2e4e7e;
}
.barlefttext{
	font-family: DengXian-Regular;font-size: 110%;color: #2e4e7e;
}
.barright{
	width: 50%;height: 100%;text-align: center;align-items: center;display: flex;justify-content: center;
}
.barrighttext{
	font-family: DengXian-Regular;font-size: 110%;color: #2e4e7e;
}
.btn1{
	width: 11.05%;height: 100%;background-color: #c93756;border-radius: 5px;font-family: DengXian-Regular;font-size: 17px;color: #fff;
}
.search{
	width:100%;height: 90%;background-color: #e9ecf3;opacity: 0.7;border: none;margin-left: 3%;
}
.table>thead>tr>th{
	height: 19%;text-align: center;font-size: 16px;padding: 1.25%;border-top: 1px solid #e9ecf3;border-left: 1px solid #e9ecf3;border-right: 1px solid #e9ecf3;font-family: DengXian-Regular;
}
.table>tbody>tr>td{
	height: 19%;text-align: center;font-size: 16px;padding: 2.7%;border-bottom: 1px solid #e9ecf3;border-left: 1px solid #e9ecf3;border-right: 1px solid #e9ecf3;font-family: DengXian-Regular;
}